@import '../../../styles/settings.scss';

.cartWindow {
    height: auto;
}

.sumData {
    display: flex;

}

.buttonSection {
    text-align: end;
}

.button {
    height: auto;
    width: 100px;
    border: none;
    border-radius: 15px;
    background-color: $blue-color;
    color: $white-color;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.button:hover {
    color: $blue-color;
    background-color: $white-color;
    border: 1px solid $blue-color;
}

.info {
    height: 60px;
    width: auto;
    text-align: center;
    font-size: 1.5rem;
}

.closeSection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.closeButton {
    width: 100px;
    border-color: $white-color;
    border: 1px solid;
    border-radius: 15px;
    background-color: $blue-color;
    color: $white-color;
    margin: 10px;
    transition: background-color 0.2s, color 0.2s border-color 0.2s;
}

.closeButton:hover {
    color: $blue-color;
    background-color: $white-color;
    border-color: $blue-color;
}