.title {
    text-align: center;
    margin-top: 170px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formSection {
    width: 50%;
    margin-top: 170px;
    margin-left: 50px;
}