@import '../../../styles/settings.scss';
.title {
    text-align: center;
    margin-top: 170px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formSection {
    width: 50%;
    margin-top: 170px;
    margin-left: 10px;
}

.button {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.buttonForm {
    height: auto;
    width: 100px;
    border: 1px solid $white-color;
    border-radius: 15px;
    background-color: $blue-color;
    color: $white-color;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.buttonForm:hover {
    color: $blue-color;
    background-color: $white-color;
    border-color: $blue-color;
    transform: scale(1.05);
    transition: 0.1s;
}

.modal {
    text-align: center;
    height: auto;
    width: 300px;
}

.closeSection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.closeButton {
    width: 100px;
    border-color: $white-color;
    border: 1px solid;
    border-radius: 15px;
    background-color: $blue-color;
    color: $white-color;
    margin: 10px;
    transition: background-color 0.2s, color 0.2s border-color 0.2s;
}

.closeButton:hover {
    color: $blue-color;
    background-color: $white-color;
    border-color: $blue-color;
}