@import '../../../styles/settings.scss';
.title {
    text-align: center;
    margin-top: 170px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formSection {
    width: 50%;
    margin-top: 170px;
    margin-left: 10px;
}

.button {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.buttonForm {
    height: auto;
    width: 100px;
    border: none;
    border-radius: 15px;
    background-color: $blue-color;
    color: $white-color;
}

.buttonForm:hover {
    transform: scale(1.05);
    transition: 0.1s;
}

.modal {
    text-align: center;
    height: auto;
    width: 300px;
}