/*colors*/

$blue-color : #1838FF;
$white-color : #fff;
$dark-color: #0000;
$grey-color : #8D8E92;
$border-color: #d0d0d0;
$light-shadow: #8E9096;
$single-color: #ABA7A2;
$red-color: #DA0F0F;
$background-color: #93939B;
$card-background: #C4C4C4;
$yellow-color: #F9CC3A;
$cards-background: #E9E9E9;