@import '../../../styles/settings.scss';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    min-width: 200px;
    margin-left: 60px;
}

.text {
    margin: 0;
    font-size: 0.9rem;
    margin-left: 2px;
    color: $black-color;
}

.loading {
    margin-top: 90px;
}

.button {
    height: auto;
    max-height: 87px;
    width: 70px;
    margin: 15px 10px;
    padding: 10px;
    background: none;
    border-color: $light-shadow;
    border-radius: 10px;
    border: none;
}

.button:hover {
    transform: scale(1.09);
    transition: 0.2s;
}

.icon {
    height: auto;
    max-height: 60px;
    width: 100%;
    max-width: 70px;
}

.link {
    color: $black-color;
}