@import '../../../styles/settings.scss';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    padding: 50px;
    background-color: $cards-background;
}

.titleSection {
    text-align: center;
}

.title {
    font-weight: 400;
}

.buttonSection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    flex-wrap: wrap;
}

.buttons {
    height: auto;
    margin: 20px;
    font-size: 7.5rem;
    background: none;
    border: none;
    transition: color 0.2s;
}

.buttons:hover {
    color: $blue-color;
    transform: scale(1.05);
    transition: 0.2s;
}