@import '../../../styles/settings.scss';

.card {
    height: 260px;
    width: 200px;   
    margin: 10px 15px;
    position: relative;
}

.cardImg {
    height: 260px;
    width: 200px;
    border-radius: 23px;
}

.cardTitle {
    position: absolute;
    font-size: 1rem;
    top: 70%;
    left: 5%;
    padding: 3px 1px;
    color: $white-color;
    -webkit-text-stroke: 0.1px $black-color;
}

.cardButton {
   position: absolute;
   left: 75%;
   top: -2%;
   border-radius: 50px;
   border: none;
   background: none;
   color: $lightblue-color;
   transition: background-color 0.2s, color 0.2s;
}

.cardButton:hover {
    color: $card-background;
}

.buttonText{
    font-size: 1.7rem;
    margin: 5px;
    color: $blue-color;
}

.modalTitle {
    text-align: center;
}
