.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.textSection {
    height: 400px;
    width: 375px;
    text-align: left;
    padding: 6% 0;
}

.title {
    font-size: 2rem;
    font-weight: 500;
}

.imgSection {
    height: 400px;
    width: auto;
    max-width: 500px;
}

.img {
    padding: 10% 0;
    height: auto;
    width: 100%;
}